.App {
  text-align: center;
  background-color: rgb(222, 247, 255);
}
header{
  font-size: 4rem;
  font-weight: bold;
  border: solid black 2px;
  margin: 10px;
  padding: 40px;
  background-color: rgb(184, 216, 226);
  
}
a{
  text-decoration: none;
}

.card{
  text-align: left;
  padding-left: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.post{
  text-align: left;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
}

