.App {
  text-align: center;
}
h1{
  font-size: 3rem;
}
h2{
  border: solid black 3px;
  margin: 10px;
}
a{
  text-decoration: none;
}
.postinfo{
  border: solid blue 3px;
  margin: 10px;
}
.home{
  font-size: 3rem;
  color: red;
}